[submodule ".registry"]
	path = .registry
	url = https://github.com/shinyworks/shinyworks.r-universe.dev
	branch = HEAD
[submodule "cookies"]
	path = cookies
	url = https://github.com/shinyworks/cookies
[submodule "favawesome"]
	path = favawesome
	url = https://github.com/shinyworks/favawesome
[submodule "scenes"]
	path = scenes
	url = https://github.com/shinyworks/scenes
[submodule "shinybatch"]
	path = shinybatch
	url = https://github.com/shinyworks/shinybatch
[submodule "shinyfocus"]
	path = shinyfocus
	url = https://github.com/shinyworks/shinyfocus
[submodule "shinysocial"]
	path = shinysocial
	url = https://github.com/shinyworks/shinysocial
